@media print {
	@page {
		margin: .5cm;
		size: A4 landscape;
	}

	.print-only {
		display: block;
	}

	.fadeInUp, .zoomIn {
		animation: none !important;
	}

	.no-print {
		display: none !important;
	}

	a[href^="http"] {
		color: #00a3ff !important;
		text-decoration: underline;
	}

	* {
		-webkit-filter: none !important;
		filter: none !important;
	}

	html,
	body,
	web-slides {
		height: auto !important;
		overflow: auto !important;
		width: auto !important;
	}

	web-slide {
		display: flex !important;
		height: auto !important;
		page-break-after: always;
		* {
			-webkit-animation: none;
			animation: none;
		}
	}
	web-slides {
		overflow-x: auto !important;
		overflow-y: auto !important;
	}

	table,
	figure {
		page-break-inside: avoid;
	}

	web-slides-nav {
		display: none;
	}

	.codepen-trigger {

	}
}