h1, h2, h3, h4, h5, h6 {
  font-weight: 600;

  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: .8rem;
  }
}

// 1. Chapter
h1 {
  font-size: 4rem;
  line-height: 5.6rem;

  @media (min-width: 768px) {
    font-size: 5.6rem;
    line-height: 7.2rem;
  }
}
// 2. Section
h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;

  @media (min-width: 768px) {
    font-size: 4.8rem;
    line-height: 6.4rem;
  }
}
// 3. Group of articles
h3 {
  font-size: 2.4rem;
  line-height: 4rem;

  @media (min-width: 768px) {
    font-size: 4rem;
    line-height: 5.6rem;
  }
}
// 4. Article
h4 {
  font-size: 2.2rem;
  line-height: 4rem;

  @media (min-width: 768px) {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
}

// 5. Article Part
h5 {
  font-size: 2rem;
  line-height: 3.2rem;
}

// 6. Article major point
h6 {
  font-size: 1.8rem;
  line-height: 3.2rem;
}