html,
body {
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;

  background-color: #f7f9fb;
  color: #333;
}

html,
body,
input,
select,
textarea {
  font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif;
  font-size: 100%;

  @media all and (max-width: 1200px), all and (max-height: 860px) {
    font-size: 75%;
  }
  @media all and (max-width: 1024px), all and (max-width: 1200px) and (max-height: 700px) {
    font-size: 70%;
  }
  @media all and (max-width: 800px), all and (max-width: 1024px) and (max-height: 600px) {
    font-size: 60%;
  }
}

body, textarea {
  font-size: 1.8rem;
}

p, li, dt, dd, table, big, label {
  line-height: 3.2rem;
}

p, ul, ol, dt, table, big, label {
  margin-bottom: 1rem;
}

em {
  font-weight: 500;
  font-style: italic;
}

a {
  color: #44d;

  &:hover {
    color: #3af;
  }

  &.important-link {
    font-weight: bold;
  }
}

ul > li,
ol > li {
  margin-left: 3.2rem;
}

li, p:last-child {
  margin-bottom: 0;
}
li li {
  font-size: 100%;
  margin-left: 1.6rem;
}

a,
a:active,
a:focus,
a:visited,
input:focus,
textarea:focus,
button {
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

svg {
  fill: currentColor;
}

abbr, acronym {
  border-bottom: 1px dotted #f7f9fb;
}

mark, ins {
  background-color: rgba(221, 238, 255, 0.8);
  color: inherit;
}

hr {
  background: radial-gradient(ellipse at center, rgba(0, 20, 80, 0.2) 0, rgba(255, 255, 255, 0) 75%);

  &:after {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
  }
}

:focus {
  -webkit-box-shadow: 0 0 2px #96bbee;
  box-shadow: 0 0 2px #96bbee;
}

::-moz-selection,
::-webkit-selection,
::selection {
  background-color: rgba(221, 238, 255, 0.8); }

@import "heading";
@import "margins";
@import "text";
@import "grid";

.box-white {
  width: 100%;
  padding: 1rem 2rem;

  background: #fff;
  border: 1px solid rgba(0, 20, 80, 0.1);
  box-shadow: 0 8px 16px rgba(0, 20, 80, 0.04), 0 4px 16px rgba(0, 0, 0, 0.08);

  text-align: left;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 40, 160, 0.08), 0 8px 24px rgba(0, 0, 0, 0.08);
  }
}

pre,
code {
  font-family: 'Cousine', monospace;
}
pre {
  font-size: 1.6rem;
  line-height: 2.4rem;

  white-space: pre-wrap;
  word-wrap: break-word;

  overflow: auto;

  .box-white();

  + p {
    margin-top: 3.2rem;
  }
  code {
    padding: 0;
  }
}
code {
  padding: .4rem;
  background-color: rgba(255, 255, 255, 0.09);
}

.note {
  .box-white;

  font-family: Cousine, monospace;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: #fffcc8;
}

pre + pre,
.note + pre,
pre + .note,
.note + .note {
  margin-top: 1rem;
}

[class*='content-'] {
  position: relative;
  text-align: left;
}

[class*='content-'] > [class*='content-'] p {
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media (min-width: 768px) {
  [class*='content-'] {
    width: 50%;

    .clear-fix;
  }

  .content-left {
    float: left;
  }
  .content-right {
    float: right;
  }
  [class*='content-'] + [class*='content-'] {
    margin-bottom: 4.8rem;
    padding-left: 2.4rem;
  }
  [class*='content-'] + [class*='size-'] {
    clear: both;
    margin-top: 6.4rem;
  }
}

.text-intro,
[class*='content-'] p {
  font-size: 2.4rem;
  line-height: 4rem; }