.code {
  display: block;
  overflow-x: auto;
  
  color: #333;
  
  font-size: 2rem;
  font-family: monospace;
  line-height: 2.4rem;
  
  code {
    font-size: 100%;
    font-family: monospace;
    font-weight: inherit;
  }

  .code-quote {
    color: #998;
    font-style: italic;
  }

  .code-keyword,
  .code-selector-tag,
  .code-subst {
    color: #000066;
    font-weight: bold;
  }

  .code-number,
  .code-literal,
  .code-variable,
  .code-template-variable,
  .code-tag .code-attr {
    color: #008080;
  }

  .code-string,
  .code-doctag {
    color: #d14;
  }

  .code-title,
  .code-section,
  .code-selector-id {
    color: #900;
    font-weight: bold;
  }

  .code-subst {
    font-weight: normal;
  }

  .code-type,
  .code-class .code-title {
    color: #458;
    font-weight: bold;
  }

  .code-tag,
  .code-name,
  .code-attribute {
    color: #000080;
    font-weight: normal;
  }

  .code-regexp,
  .code-link {
    color: #009926;
  }

  .code-symbol,
  .code-bullet {
    color: #990073;
  }

  .code-built_in,
  .code-builtin-name {
    color: #0086b3;
  }

  .code-meta {
    color: #999;
    font-weight: bold;
  }

  .code-deletion {
    background: #fdd;
  }

  .code-addition {
    background: #dfd;
  }

  .code-emphasis {
    font-style: italic;
  }

  .code-strong {
    font-weight: bold;
  }

  .code-comment {
    font-style: italic;
    color: rgba(70, 170, 130, 0.9);
    text-shadow: none;
  }

  strong {
    outline: greenyellow solid 3px;
  }
}
