.code {
  display: block;
  overflow-x: auto;
  
  color: #333;
  
  font-size: 1.8rem;
  font-family: monospace;
  line-height: 2.4rem;
  
  code {
    font-size: 100%;
    font-family: monospace;
    font-weight: inherit;
  }
  strong {
    outline: greenyellow solid 3px;
  }
}
.hl-tags .token{
  .tag {
    font-weight: bolder;
    .token {
      font-weight: normal;
    }
  }
}
@import "prism-theme";